<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="konfDB" type="KonfDBCF.Configuration.ClientConfig, KonfDBCF">
      <section name="runtime" type="KonfDBCF.Configuration.Runtime.RuntimeConfigurationSection, KonfDBCF" />
      <section name="cache" type="KonfDB.Infrastructure.Configuration.Caching.CacheConfigurationSection, KonfDBCF" />
    </sectionGroup>
  </configSections>
  <konfDB>
    <runtime logConfigPath="">
      <client port="8080" host="localhost" type="http" />
      <!--<user username="konfdbuser" password="konfdbuser" />-->
      <user username="konfdbuser_ro" password="konfdbuser_ro" />

    </runtime>
    <cache enabled="true" mode="Absolute" duration="30" />
  </konfDB>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>