<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="konfDB" type="KonfDB.Infrastructure.Configuration.AppConfig, KonfDBI">
      <section name="runtime" type="KonfDB.Infrastructure.Configuration.Runtime.RuntimeConfigurationSection, KonfDBI" />
      <section name="cache" type="KonfDB.Infrastructure.Configuration.Caching.CacheConfigurationSection, KonfDBI" />
      <section name="providers" type="KonfDB.Infrastructure.Configuration.Providers.ProvidersConfigurationSection, KonfDBI" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <konfDB>
    <runtime logConfigPath="" audit="true">
      <server>
        <!--<add port="8085" type="tcp" />-->
        <add port="8080" type="http" />
        <!--<add port="8082" type="rest" />-->
      </server>
      <superuser username="suser" password="spwd" />
    </runtime>
    <cache enabled="false" mode="Absolute" duration="30" />
    <providers>
      <databaseProviders default="localsql">
        <add key="localsql" type="MsSql" host="localhost\sqlexpress" port="8000" instanceName="konf" username="sa" password="SomePwdStrong*0889" location="C:\\temp" />
        <add key="azure" type="AzureSql" host="tcp:lbxcft14aq.database.windows.net" port="1433" instanceName="dbName" username="dbName@lbxcft14aq" password="dBPassword" />
      </databaseProviders>
      <providerTypes>
        <add type="MsSql" assemblyPath="KonfDB.Engine.Database.Providers.MsSql.MsSqlProvider, KonfDBE" />
        <add type="AzureSql" assemblyPath="KonfDB.Engine.Database.Providers.AzureSql.AzureSqlProvider, KonfDBE" />
      </providerTypes>
    </providers>
  </konfDB>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Verbose, ActivityTracing">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Verbose">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="xml" type="System.Diagnostics.XmlWriterTraceListener" initializeData="c:\logs\logfilename-service.svclog" />
    </sharedListeners>
    <trace autoflush="true" />
  </system.diagnostics>
</configuration>